<div class="card profile-result">
    <img src="{{user.icon}}" />
    <div class="profile-info">
        <a href="/{{user_handle user}}">
            <h2>{{ user.name }}</h2>
        </a>
        <p>{{user_handle user}}</p>
        <p>Joined {{format_date user.published}}</p>
    </div>
</div>